* {
    margin: 0;
    padding: 0;
}

/* --------font-------- */
@font-face {
    font-family: 'Miama';
    src: url('../Miama Font/Miama.ttf');
}

.miama {
    font-family: 'Miama';
    font-size: 9.5rem;
    font-weight: 400;
    font-style: normal;
    background: transparent;
}

/* --------text-size-------- */
.title {
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
}

.subtitle {
    font-size: 4.375rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
    color: #E6533C;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

h2 {
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 120%;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 120%;
}

h4 {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 120%;
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.50);
}

h6 {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 120%;
}

p,
td {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.3px;
}

.fs18 {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.fs16 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.50);
}

/* --------button-------- */
.btn-primary {
    font-size: 18px;
    font-weight: 600;
    line-height: 122.222%;
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: 2.5rem;
    border: 1px solid #E6533C;
    background: #E6533C;
    color: white;

}

.btn-secondary {
    border: 1px solid #FFF;
    background: none;

}

#hidden-btn,
#hidden-play-icon {
    display: none;
}

/* --------------body------------- */
body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

/* Display flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Flex-col */
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------header------------ */
header {
    background: linear-gradient(180deg, #111 0%, rgba(247, 247, 247, 0.142) 100%);
}

.header-content {
    max-width: 80%;
    margin: 0 auto;
}

/* --------navbar-------- */
.navbar {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.nav-title {
    color: #E6533C;
    font-style: italic;
}

.hamburger {
    display: none;
}

.navbar>ul {
    list-style: none;
    gap: 2rem;
    border-radius: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.navbar>ul>li:first-child {
    padding: .5rem 1.25rem;
    border: none;
    border-radius: 2.5rem;
    background: #E6533C;
    /* ------------- */
    font-size: 1.125px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar>ul>li:last-child {
    padding: .5rem 1.25rem;
    border-radius: 2.5rem;
}

.navbar>ul>li>a {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    background: none;
    color: white;

}

/* --------banner-------- */
.banner-content {
    align-items: start;
    gap: 1.75rem;
    max-width: 50%;
}

.btn {
    display: flex;
    gap: 1rem;
}

.banner-img {
    position: relative;
}

.video-tutorial {
    gap: 1rem;
    width: max-content;
    padding: 1.25rem 1.5rem;
    /* border */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    /* position */
    position: absolute;
    bottom: 150px;
    left: -130px;
}

.video-tutorial>.circle {
    background: #E6533C;
    width: 40px;
    height: 40px;
    border: #E6533C 1px solid;
    border-radius: 50%;
}

.free-videos {
    padding: 1.25rem 1.5rem;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    width: max-content;
    /* position */
    position: absolute;
    top: 100px;
    right: -55px;
}


/* -------------------main------------------ */

main {
    max-width: 80%;
    margin: 6.25rem auto;
    gap: 6.25rem;

}

/* Features Section Styles */
.features {
    text-align: center;
}

.features .section-title {
    margin-bottom: 2.75rem;
}

.features-Card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.875rem;
}

.feature-card {
    background-color: #222;
    padding: 1.5rem;
    border-radius: 8px;
}

.feature-card .icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.feature-title {
    font-size: 1.5rem;
    margin: 1.5rem 0 .75rem 0;
}

/* --------Habits section-------- */
.habits-section {
    text-align: center;
    gap: 5rem;
}

.habits-content-container {
    gap: 1rem;
    max-width: 60%;
}

.habit-card-container {
    gap: 2.5rem;
    align-items: flex-start;
}

.habit-card {
    gap: 1.875rem;
    height: 100%;
    width: 100%;
}

.habit-card-img {
    width: 90%;
    height: 900%;
    border-radius: 50%;
}

.habit-card-content {
    gap: 1rem;
}

/* --------Run extra mile-------- */
.run-extra-section {
    padding: 1.875rem 2rem 1.875rem 3.5rem;
    border-radius: 18px;
    background: #222;
    height: 300px;
}

.run-extra-content {
    gap: 1.25rem;
    width: 45%;
    padding: .5rem 0;
    align-items: start;
}

.run-extra-content>.btn-primary {
    margin-top: .5rem;
}

.run-extra-img-container {
    margin-top: 1rem;
    max-width: 45%;
    overflow: hidden;
    position: relative;
}

.run-img {
    width: 100%;
    object-fit: cover;
    clip-path: inset(50px 100px 60px 180px round 18px);
    object-position: center;
}


/* -------------bmi-calculator-section------------- */
.bmi-content {
    max-width: 60%;
    gap: 1rem;
    text-align: center;
    margin-bottom: -2.25rem;
}

.bmi-section-container {
    background: #222;
    position: relative;
    left: 0;
    right: 0;
    width: calc(100% + 25%);
}

.bmi-calculator-section {
    max-width: 80%;
    margin: 0 auto;
    gap: 3.625rem;
}

/* bmi-table-styles*/
.bmi-chart-container {
    stroke-width: 100%;
    gap: 1.5rem;
    align-items: flex-start;
    padding: 2rem 0;
}

.bmi-chart {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0; 
    border-radius: 0.625rem; 
    overflow: hidden;
    border: rgba(255, 255, 255, 0.10) 1px solid;

}

.bmi-chart th,
.bmi-chart td {
    border: rgba(255, 255, 255, 0.10) 1px solid;
    padding: 0.75rem 2.5rem;
    text-align: left;
    font-size: 1rem;
}

.bmi-chart th {
    background-color: #333;
    font-weight: bold;
}


/* bmi-calculator-form */
.bmi-calculator {
    max-width: 50%;
    margin: 2rem auto;
    padding: 2rem;
    gap: 2rem;
    align-items: start;
    border-radius: 1.125rem;
    background-color: #2b2b2b;
}

.calculator-content {
    align-items: flex-start;
    gap: 1rem;
}

.bmi-calculator form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-row input,
.form-row select {
    flex: 1;
    padding: 1rem;
    background-color: #3b3b3b;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.9rem;
}

.form-row input::placeholder {
    color: rgba(255, 255, 255, 0.60);
}



button:hover {
    background-color: #e54c32;
}



/* --------out team section-------- */
.our-team-section {
    gap: 3rem;
}

.our-team-content {
    gap: 1rem;
    max-width: 60%;
    text-align: center;
}

.team-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 1.25rem;
    border-radius: 1.125rem;
    background: rgba(255, 255, 255, 0.10);
}

.member-card {
    align-items: start;
    position: relative;
}

.member-intro {
    position: absolute;
    bottom: 1.25rem;
    left: 1.5rem;
}

.member-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 18px;
}

.member-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------testimonials---------- */
.testimonials {
    padding: 3.25rem 2.5rem;
    background-color: #222;
    text-align: center;
    border-radius: 1.125rem;
}

.testimonials .section-title {
    margin-bottom: 2.5rem;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.testimonial-card {
    background-color: #2b2b2b;
    padding: 1.5rem;
    border-radius: .625rem;
}

.testimonial-text {
    margin-bottom: 1rem;
}


/* -----------footer---------- */
footer {
    background: rgba(255, 255, 255, 0.10);
}

.main-footer,
hr,
.bottom-section {
    max-width: 80%;
    margin: 0 auto;
}

.main-footer {
    padding: 4rem 0 4.5rem 0;
    align-items: flex-start;
}

.title-container {
    width: 40%;
    align-items: flex-start;
    gap: 1.25rem;
}

.right-part {
    width: 50%;
    gap: 1.875rem;
}

.segment {
    align-items: flex-start;
    gap: 2.5rem;
}

.h6 {
    align-items: flex-start;
    gap: 1.25rem;
    color: rgba(255, 255, 255, 0.50);
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.bottom-section {
    text-align: center;
    padding: 2.25rem 0;
    color: rgba(255, 255, 255, 0.50);
}