@media screen and (max-width: 576px) {

    /* --------font --------*/
    .miama {
        font-size: 5rem;
    }

    /* --------font size-------- */
    .title {
        font-size: 2.25rem;
    }

    h1 {
        font-size: 2rem;
    }

    /* --------button-------- */
    .btn>.btn-primary {
        display: none;
        padding: 1rem 2rem;
    }

    #hidden-btn {
        display: block;
    }

    .btn>.btn-secondary {
        display: block;
        border: 1px solid #FFF;
        background: none;

    }

    .btn {
        display: flex;
        gap: .875rem;
    }

    /* --------header-------- */
    .header-content {
        max-width: 100%;
        margin: 0 auto;
        padding: 1.5rem;
    }

    /* --------navbar-------- */
    .navbar {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }

    .hamburger {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    /* --------banner-------- */
    .banner {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }

    .banner-content {
        gap: 1.5rem;
        max-width: 100%;
    }

    .circle {
        display: none;
    }

    #hidden-play-icon {
        display: block;
    }

    .video-tutorial {
        /* position */
        position: absolute;
        bottom: 120px;
        left: 0px;
    }

    .vt-content>h2 {
        font-size: 1.25rem;
    }

    .vt-content>p {
        font-size: .75rem;
    }

    .free-videos {
        /* position */
        position: absolute;
        top: 130px;
        right: 0px;
    }

    .free-videos>h1 {
        font-size: 2rem;
    }

    .free-videos>p {
        font-size: .625rem;
    }

    /* -----------main---------- */
    main {
        max-width: 90%;
        margin: 4rem auto;
        gap: 4rem;
    }

    /* -------Features Section Styles------- */
    .features .section-title {
        margin-bottom: 2rem;
    }

    .features-Card-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 2rem;
        gap: 1.5rem;
    }

    .feature-card {
        padding: 1.5rem;
    }

    /* --------habit section-------- */
    .habits-section {
        max-width: 90%;
        gap: 1.5rem;
    }

    .habits-content-container {
        max-width: 100%;
    }

    .habit-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-card {
        width: 80%;
        margin: 0 auto;
    }

    .habit-card-img {
        width: 80%;
        height: 80%;
    }

    /* --------Run extra mile-------- */
    .run-extra-section {
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 18px;
        height: auto;
        gap: 1.5rem;
    }

    .run-extra-content {
        gap: 1rem;
        width: 100%;
        padding: 0;
    }


    .run-extra-img-container {
        max-width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .run-img {
        width: 100%;
        height: 100%;
        object-fit:fill;
        clip-path: inset(0 round 18px);
        object-position: center;
    }

    /* -----------bmi-calculator-section------------ */
    .bmi-content{
        max-width: 100%;
        margin-bottom: -1.25rem;
        text-align: left;
        align-items: flex-start;
    }

    .bmi-section-container {
        width: calc(100% + 11%);
        /* width: -webkit-calc(100% + 11%); */
    }
    
    .bmi-calculator-section {
        max-width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
        gap: 2rem;
        flex-direction: column;
        padding: 0;
    }

    .bmi-chart-container {
        padding: 0;
        padding-top: 2rem;
    }

    /* bmi-calculator-form */
    .bmi-calculator {
        max-width: 100%;
        margin: 0;
        margin-bottom: 2rem;
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .form-row input,
    .form-row select {
        width: 100%;
    }

    /* --------out team section-------- */
    .our-team-section {
        gap: 2.25rem;
    }

    .our-team-content {
        max-width: 100%;
    }

    .team-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    /* ----------testimonials---------- */
    .testimonials {
        padding: 2rem 1.25rem;
    }

    .testimonials .section-title {
        margin-bottom: 1.5rem;
    }

    .testimonial-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    /* ------------footer------------ */
    .main-footer,
    hr,
    .bottom-section {
        max-width: 90%;
    }

    .main-footer {
        flex-direction: column;
        gap: 4rem;
    }

    .title-container {
        width: 100%;
        align-items: flex-start;
    }

    .right-part {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .bottom-section {
        padding: 1.5rem 0;
    }
}