@media screen and (min-width: 576px) and (max-width: 992px) {

    #hidden-btn {
        display: none;
    }

    .header-content {
        max-width: 90%;
        margin: 0 auto;
    }

    /* --------banner-------- */
    .banner {
        flex-direction: column;
        gap: 1.5rem;
    }

    .banner-content {
        max-width: 85%;
    }

    /* --------main-------- */
    main {
        max-width: 90%;
        margin: 4.5rem auto;
        gap: 4.5rem;
    }

    /* -------Features Section Styles------- */
    .features .section-title {
        margin-bottom: 2.75rem;
    }

    .features-Card-container {
        gap: 2rem;
    }

    .feature-card {
        padding: 1rem;
    }

    /* --------habit section-------- */
    .habits-section {
        max-width: 75%;
    }

    .habits-content-container {
        max-width: 90%;
    }

    .habit-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .habit-card {
        width: 80%;
    }

    .habit-card-img {
        width: 80%;
        height: 80%;
    }

    /* --------Run extra mile-------- */
    .run-extra-section {
        padding: 2.5rem 2.75rem 2.5rem 3.5rem;
        border-radius: 18px;
        background: #222;
    }

    .run-extra-content {
        gap: 1.875rem;
        max-width: 45%;
        padding: .5rem 0;
    }

    .run-extra-img-container {
        margin-top: 2rem;
        max-width: 50%;
        overflow: hidden;
        position: relative;

    }

    .run-img {
        width: 100%;
        object-fit: cover;
        clip-path: inset(0px 50px 30px 100px round 18px);
        object-position: center;
    }

    /* -------------bmi-calculator-section------------- */
    .bmi-content {
        max-width: 80%;
        margin-bottom: -1.5rem;
    }

    .bmi-calculator-section {
        max-width: 90%;
        margin: 0 auto;
        padding: 3rem 0;
        gap: 2.5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .bmi-chart-container {
        padding: 0;
    }

    /* bmi-calculator-form */
    .bmi-calculator {
        max-width: 100%;
        margin: 0;
    }

    /* out team section */
    .our-team-section {
        gap: 3.625rem;
    }

    .our-team-content {
        max-width: 70%;
    }

    .team-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .member-card {
        position: relative;
    }

    /* ----------testimonials---------- */
    .testimonials {
        padding: 3rem 2rem;
    }

    .testimonials .section-title {
        margin-bottom: 2.5rem;
    }

    .testimonial-grid {
        gap: 2rem;
    }

    /* ----------footer---------- */
    .main-footer,
    hr,
    .bottom-section {
        max-width: 90%;
    }

    .main-footer {
        flex-direction: column;
        gap: 4.5rem;
    }

    .title-container {
        width: 60%;
        align-items: flex-start;
    }

    .right-part {
        width: 70%;
    }

}