@media screen and (min-width: 576px) and (max-width: 992px) {

    #hidden-btn {
        display: none;
    }

    .header-content {
        max-width: 90%;
        margin: 0 auto;
    }

    /* banner */
    .banner {
        flex-direction: column;
        gap: 1.5rem;
    }

    .banner-content {
        max-width: 85%;
    }

    /* main */
    main {
        max-width: 90%;
        margin: 4.5rem auto;
        gap: 4.5rem;
    }

    /* habit section */
    .habits-section{
        max-width: 75%;
    }
    .habits-content-container {
        max-width: 90%;
    }

    .habit-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .habit-card{
        width: 80%;
    }
    .habit-card-img {
        width: 80%;
        height: 80%;
    }


}